<section class="mt-4 p-5 content">
    <article class="content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia voluptate nulla dicta sint
                corporis animi dolorum? Deserunt modi repudiandae, accusamus repellendus, illo, eaque facere accusantium
                blanditiis nemo at tempore!
            </p>
        </div>
        <figure class="content_block-image">
            <!-- column_type_1.svg -->
        </figure>
    </article>
    <article class="content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt iure assumenda reprehenderit et?
                Eaque ex accusantium nisi nulla aut animi harum ad deleniti, possimus numquam laborum, corporis
                consectetur.</p>
        </div>
        <figure class="content_block-image">
            <!-- column_type_2.svg -->
        </figure>
    </article>
    <article class="content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt iure assumenda reprehenderit et?
                Eaque ex accusantium nisi nulla aut animi harum ad deleniti, possimus numquam laborum, corporis
                consectetur.</p>
        </div>
        <figure class="content_block-image">
            <!-- column_type_3.svg -->
        </figure>
    </article>
    <article class="content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt iure assumenda reprehenderit et?
                Eaque ex accusantium nisi nulla aut animi harum ad deleniti, possimus numquam laborum, corporis
                consectetur.</p>
        </div>
        <figure class="content_block-image">
            <!-- column_type_4.svg -->
        </figure>
    </article>
</section>